/* Overall Body Section */
* {
  font-family: 'Oxygen', sans-serif;
}

/* Header Section */
#header {
  display: block;
  background-color: #d72638;
  padding: 10px;
  width: 100vw;
  margin: 0;
  padding: 4px;
}

#header h1 {
  text-transform: uppercase;
  color: white;
}

nav {
  display: block;
  text-align: right;
  padding-right: 50px;
  word-spacing: 200px;
  text-transform: uppercase;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
}

/* General CSS */
body {
  margin: 0;
  padding: 0;
  background-color: #12355B;
  color: white;
}

#Introduction {
  margin-left: 20px;
}

#button1 {
  text-align: center;
}

#generate {
  text-transform: uppercase;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  color: white;
  background-color: #d72638;
  border-radius: 10px;
  border-color: transparent;
}
/* Content Section */

#generate-race {
  margin-left: 50px;
  margin-bottom: 20px;
}

#generate-class {
  margin-left: 50px;
  margin-bottom: 20px;
}

#generate-subclass {
  margin-left: 50px;
  margin-bottom: 20px;
}

#generate-background {
  margin-left: 50px;
  margin-bottom: 20px;
}

#attribute-array {
  margin-left: 50px;
  margin-bottom: 20px;
}

#generate-languages {
  margin-left: 50px;
  margin-bottom: 20px;
}

#generate-mainweapon {
  margin-left: 50px;
  margin-bottom: 20px;
}

#generate-secondweapon {
  margin-left: 50px;
  margin-bottom: 20px;
}

#generate-startingwealth {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* Footer Section */
footer {
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  display: block;
  background-color: #d72638;
  padding: 1px;
  width: 100vw;
  margin-top: 50px;
}

footer p {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  left: 0;
  bottom: 0;
  width: 100vw;
}