/* Overall Body Section */
* {
  font-family: 'Oxygen', sans-serif;
}

/* Header Section */
#header {
  display: inline-block;
  background: linear-gradient(#d72638, transparent);
  padding: 10px;
  width: 100vw;
  margin: 0;
  padding: 4px;
}

#header h1 {
  text-transform: uppercase;
  color: white;
  font-size: 64px;
}

/* General CSS */
body {
  margin: 0;
  padding: 0;
  background-color: #12355B;
  color: white;
}

#Introduction {
  margin-left: 50px;
  margin-right: 50px;
}

#button1 {
  text-align: center;
  margin-bottom: 75px;
}

#generate {
  text-transform: uppercase;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  color: white;
  background-color: #d72638;
  border-radius: 10px;
  border-color: transparent;
}


/* Content Section */

#Generation {
  display: flex;
  flex-wrap: wrap;
}

#generate-race {
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#generate-class {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#generate-subclass {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#generate-alignment {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#generate-background {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#attribute-array {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#generate-mainweapon {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#generate-secondweapon {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#generate-inventory{
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#generate-startingwealth {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#generate-motto {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#randomize {
  text-transform: uppercase;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  color: white;
  background-color: #d72638;
  border-radius: 10px;
  border-color: transparent;
}

#button3 {
  text-align: center;
}

#g-subclass {
  width: 225px;
}

#g-motto {
  width: 600px;
}

#disclaimer {
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  margin-top: 200px;
}

#additional-resources {
  margin-left: 50px;
  margin-top: 150px;
}

#ampersand {
  display: flex;
  justify-content: center;
}

#amper {
  height: 600px;
  width: auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:#d72638;
  font-weight: bold;
  font-size: 20px;
}

#amper:hover {
  height: 650px;
  width: auto;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: #841d99;
  }
  #generate {
    background-color: #12355B;
  }
  #amper {
    background-color: #d72638;
    border-radius: 100%;
  }
  a:hover {
    color: white;
    font-weight: bolder;
    font-size: 24px;
  }
}
